#print 기초 1~10

In [28]:
#001번 문제 
print('Hello world')
#002
print("mary'scosmetics")
#003
print('신씨가 소리질렀다. "도둑이야"')
#004
print('"C:\windows"')
#005 \t는 탭키 역할 , \n은 출력시 줄 바꿈 역할을 한다.
print("안녕하세요.\n만나서\t\t반갑습니다.")
#006 print( ) 여러 데이트 출력 - 두개가 띄어쓰기되어서 나옴 
print("오늘은","일요일")
#007
print('naver;kakao;sk;samsung')
print('naver', 'kakao', 'sk', 'samsung',sep=';')
#008
print('naver/kakao/sk/samsung')
print('naver', 'kakao', 'sk', 'samsung',sep='/')
#009 줄바꿈
print('first',end=""); print("second")
#010 연산결과 
print(5/3)

Hello world
mary'scosmetics
신씨가 소리질렀다. "도둑이야"
"C:\windows"
안녕하세요.
만나서		반갑습니다.
오늘은 일요일
naver;kakao;sk;samsung
naver;kakao;sk;samsung
naver/kakao/sk/samsung
naver/kakao/sk/samsung
firstsecond
1.6666666666666667

02 변수 011~020

In [30]:
#011
samsung = 50000
print('총 평가 금액',10*samsung)

총 평가 금액 500000

In [31]:
#012
hour_tot = 298000000000000
now_m = 50000
per = 15.79 
print('시가총액',type(hour_tot))
print('현재가',type(now_m))
print('PER',type(per))

시가총액 <class 'int'>
현재가 <class 'int'>
PER <class 'float'>

In [36]:
#013
s = "hello"
t = "python"
print(s+'!',t)

hello! python

In [37]:
#014 2 +2 * 3 예상
# 답 8 
print(2+2*3)

8

In [38]:
#015 type 함수 
# a = 128
# print(type(a))

a = "132" 
# 타입값 string 
print(type(a))

<class 'str'>

In [47]:
#016 문자열 정수 변환
num_str="720"
num_str=int(num_str)
print(type(num_str))
#017 정수를 문자열 100 변환
num = 100
num = str(num)
print(type(num))
#018  문자열 실수로 변환
flo = '15.79'
flo = float(flo)
print(type(flo)) # 타입이 변경됐는지 확인 
#019 문자열 정수 반환 
year = "2020"
year = int(year)
print('최근 3년 연도 ',year-3,year-2,year-1)
#020 월 48,584원 무이자 36개월 조건 판매 총 금액 계산후 출력
money = 48584
month = 36
tot = money * month
print('총 금액 ',tot)

<class 'int'>
<class 'str'>
<class 'float'>
최근 3년 연도  2017 2018 2019
총 금액  1749024

03 문자열

In [74]:
#021 문자열 인덱싱 
letters = 'python'
print(letters[0],letters[2])
print(letters[0:3:2])
#022 슬라이싱
plate = "24가 2210"
print(plate[3:])
#023 문자열 인덱싱 
string = '홀짝홀짝홀짝'
print(string[::2])
#024 문자열 슬라이싱
string = "python"
print(string[::-1].upper())
#025 문자열 치환 
phone_num = "010-1111-2222"
print(phone_num.replace("-"," "))
#026 문자열 다루기 
print(phone_num.replace("-",""))
#027 url 에 저장된 웹페이지 주소에서 도메인 출력
url = "http://sharebook.kr"
print(url[-2:])
# or 
url_s = url.split('.')
print(url_s[-1])
#028 immutable => 에러 - > 문자열 수정 불가 
lang = 'python'
lang[0] = 'P'
print(lang)

p t
pt
 2210
홀홀홀
NOHTYP
010 1111 2222
01011112222
kr
kr

TypeError: 'str' object does not support item assignment

In [75]:
#029 replace 메서드
string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [77]:
#030 
string = 'abcd'
abc = string.replace('b','B')
print(abc)

aBcd

031~040 문자열

In [135]:
#031 결과값 34
a="3"
b="4"
print(a+b)
#032 문자열 곱 결과값 HiHiHi
print("Hi"*3)
#033
print('-'*80)
#034 문자열 곱
t1 = 'python'
t2 = 'java'
t3 = t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)
#035 문자열 출력
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d'%(name1,age1))
print('이름: %s 나이: %d'%(name2,age2))
#036 format() 메서드 사용
print('이름: {} 나이: {} '.format(name1,age1))
#037 문자열 출력 - f-string 
print(f'이름: {name1} 나이: {age1}')
#038 컴마 제거하기
상장주식수 = "5,969,782,550"
컴마제거= 상장주식수.replace(',','')
타입변환 = int(컴마제거)
print(타입변환,type(타입변환))
#039 문자열 슬라이싱
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])
#040 strip 메서드
data = "    삼성전자     "
data1 = data.strip()
print(data1)
#043 capitalize 첫글자 대문자 변환 나머지 소문자
a = "hello"
b = "Anacadaba"
print(b.capitalize())
#044 endswith 메서드 endswith(끝나는문자, 시작점, 끝나는 지점)
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))

#046
file = "2020_보고서.xlsx"
print(file.startswith('2020'))
#047 split메서드
a = "hello world"
print(a.split())
#048
ticker = "btc_krw"
print(ticker.split('_'))
#049
data = "2020-05-01"
print(data.split('-'))
dato = "039490      "
print(dato.rstrip())

34
HiHiHi
--------------------------------------------------------------------------------
python java python java python java python java
이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 김민수 나이: 10
5969782550 <class 'int'>
2020/03
삼성전자
Anacadaba
True
True
['hello', 'world']
['btc', 'krw']
['2020', '05', '01']
039490

051~060 파이썬 리스트

In [149]:
#051 영화 제목 리스트 추가
movie_rank=['닥터스트레인지','스플릿','럭키']
# 052 영화 리스트에 배트맨  추가
movie_rank.append('베트맨')
print(movie_rank)
#053 슈퍼맨 닥터스트레인지와 스플릿 사이 추가 
movie_rank.insert(1,'슈퍼맨')
#054 럭키 삭제
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)
# 056 lan1과 lang2 리스트있을때 그 두 원소 모두 갖는 langs 리스트 작성
lang1 = ["c","c++","java"]
lang2 = ["python","go","c#"]
langs = lang1 + lang2
print(langs)
#057 리스트내 최댓값 최솟값
nums = [1,2,3,4,5,6,7,8]
print('max: ',max(nums),'min: ',min(nums))
#058 리스트 합 출력 - sum 함수 사용 
nums = [1,2,3,4,5]
print(sum(nums))
#059 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
#len()함수 사용하면 간단.
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))
#리스트 평균내기 sum()함수와 len() 함수 이용 하면 끝 
print(sum(nums)/len(nums))

['닥터스트레인지', '스플릿', '럭키', '베트맨']
['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
['c', 'c++', 'java', 'python', 'go', 'c#']
max:  8 min:  1
15
12
3.0

04 파이썬 리스트 
061~070

In [160]:
#061 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])
#62 슬라이싱을 사용해서 홀수만 출력하라.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])
#063 슬라이싱을 사용해서 짝수만 출력하라.
print(nums[1::2])
#064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
print(nums[::-1])
#65 interest 리스트에는 아래의 데이터가 바인딩되어 있다.
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

[100, 130, 140, 150, 160, 170]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
삼성전자 Naver

In [168]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))
#068
print("\n".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [192]:
#069 split 
string = "삼성전자/LG전자/Naver"
interest = (string.split('/'))
print(interest)
#070 리스트 정렬 오름차순 정렬 
data = [2,4,3,1,5,10,9]
print(sorted(data))
print(sorted(data,reverse=True))

['삼성전자', 'LG전자', 'Naver']
[1, 2, 3, 4, 5, 9, 10]
[10, 9, 5, 4, 3, 2, 1]

In [189]:
data = [2,4,3,1,5,10,9]
new = sorted(data,reverse=True)
print(new)

[10, 9, 5, 4, 3, 2, 1]

101~110 파이썬 분기문

In [194]:
#101 파이썬에서 True 혹은 False 갖는 데이터 타입
#boolean

111~120

In [195]:
#사용자로부터 입력받은 문자열을 두 번 출력하라. 
#아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
str = input('>>')
print(str+str)

>>안녕하세요
안녕하세요안녕하세요

In [196]:
#113 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.
num = int(input('>>'))
if num % 2 == 0 :
    print("짝수")
else :
    print("홀수")

>>2
짝수

In [198]:
#114
#사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 
#단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.
num = int(input("입력값 "))
if num + 20 < 255 :
    print(num+20)
else :
    print(255)

입력값 40
60

In [203]:
#116 사용자로부터 입력 받은 시간이 정각인지 판별하라.
time = input("현재시간")
if time.split(':')[2] == '00':
    print("정각입니다.")
else :
    print("정각이 아닙니다.")
print(time.split(':')[2])

print(time.split(':'))

현재시간:02:00
정각입니다.
00
['', '02', '00']

In [207]:
#117 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라
fruit = ["사과", "포도", "홍시"]
like_fri = input("좋아하는 과일은?")
if like_fri in fruit:
    print("정답입니다.")
else:
    print("틀렸습니다.")

좋아하는 과일은?사과
정답입니다.

In [208]:
#118 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다.
#"를 출력하는 프로그램을 작성하라.
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
invest = input("투자 종목 입력 ")
if invest in warn_investment_list :
    print("위험 종목입니다.")
else :
    print("위험종목이 아닙니다. ")

투자 종목 입력 Google
위험 종목입니다.

In [210]:
eng = input(">>")
if eng.islower() :
    print(eng.upper())
else :
    print(eng.lower())

>>a
A

In [1]:
#124
a,b,c = map(int,input("숫자 3개 입력 ").split(','))
max = 0 
if a>b and b>c :
    max = a
    print(max)
elif b>a and a>c :
    max = b 
    print(max)
elif c>a and a>b :
    max = c
    print(max)

숫자 3개 입력 20 10 20

ValueError: invalid literal for int() with base 10: '20 10 20'

In [2]:
#125 
phone_info = {'011':'SKT','016':'KT','019':'LGU','010':'알 수 없음'}
info = input("휴대전화 번호 입력")
number_list = info.split('-')
if number_list[0] == '011':
    print('당신은',phone_info['011'],'사용자입니다.')
elif number_list[0] == '016':
    print('당신은',phone_info['016'],'사용자입니다.')
elif number_list[0] == '019':
    print('당신은',phone_info['019'],'사용자입니다.')
elif number_list[0] == '010':
    print('당신은',phone_info['010'],'사용자입니다.')

휴대전화 번호 입력011-345-1922
당신은 SKT 사용자입니다.

In [15]:
#127 
num = input('주민등록번호 입력')
num = num.split('-')[1][0]
if num in ['1','3']:
    print('남자')
else :
    print('여자')

주민등록번호 입력821010-16351020
남자

In [20]:
num = input('주민등록번호 입력')
num = num.split('-')[1][1:3]
print(num)
if int(num) < 8 :
    print('서울이 입니다.')
else :
    print('서울 아닙니다..')

주민등록번호 입력821010-1635210
63
서울 아닙니다..

In [23]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 970710-1854122
유효한 주민등록번호입니다.

In [25]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [27]:
#131~140 파이썬 반복문 
#136
number = [10,20,30]
for x in number:
    print(x)

10
20
30

In [33]:
#141~150
list = [100,200,300]
for x in list:
    print(x + 10)

110
210
310

In [34]:
list = ["sk하이닉스","삼성전자","LG전자"]
for x in list:
    print(len(x))

6
4
4

In [35]:
list = [1,2,3]
for x in list:
    print('3 x {}'.format(x))

3 x 1
3 x 2
3 x 3

In [36]:
list = ['가','나','다','라']
for x in list[1:]:
    print(x)

나
다
라

In [48]:
#151~160
list = [3,-20,-3,44]
for x in list:
    if x < 0:
        print(x)
#152
list = [3,100,23,44]
for x in list:
    if x%3 == 0:
        print(x)

#153
리스트 = ["I", "study", "python", "language", "!"]
for x in 리스트:
    if len(x)>= 3 :
        print(x)
#154
리스트 = ["A", "b", "c", "D"]
for x in 리스트:
    if x.isupper():
        print(x)
#157 
리스트 = ['dog', 'cat', 'parrot']
for x in 리스트 :
    print(x[0].upper() + x[1:])

-20
-3
3
study
python
language
A
D
Dog
Cat
Parrot

In [52]:
 #158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for x in 리스트:
    print(x.split('.')[0])
#159 and 160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for x in 리스트:
    if x.split('.')[1] == 'h':
        print(x)
    elif x.split('.')[1] == 'c':
        print(x)

hello
ex01
intro
intra.h
intra.c
define.h

In [65]:
#161~170 
for x in range(2002,2050,4):
    print(x)

for x in range(3,31,3):
    print(x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
3
6
9
12
15
18
21
24
27

In [92]:
#166
num = 0
for x in range(3,30,3):
    num += 1
    print('3x',num,'=',x)
#169 
tot = 0
for x in range(1,11):
    if x%2 == 1 :
        tot += x
        
print(tot)

3x 1 = 3
3x 2 = 6
3x 3 = 9
3x 4 = 12
3x 5 = 15
3x 6 = 18
3x 7 = 21
3x 8 = 24
3x 9 = 27
25

In [115]:
#171, 172 
price_list = [32100,32150,32000,32500]
for x in price_list :
    print(x)

#175 ~ 177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1):
    print(my_list[len(my_list) - 1 - i], my_list[len(my_list) - 2 - i])
    
#178 
my_list = [100, 200, 400, 800]
for x in range(len(my_list)-1) :
    print(my_list[x+1] - my_list[x])
#179

32100
32150
32000
32500
라 다
다 나
나 가
100
200
400

In [132]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]

for y in range(len(my_list)-2): # y in 0 1 2 3 4
    sum = my_list[y]+my_list[y+1]+my_list[y+2]
    print(sum/len(my_list[:3]))
#180 
high = [150, 300, 430, 880, 1000]
low  = [100, 200, 400, 800, 1000]
volati = []
for x in range(len(high)):
    volati.append(high[x]-low[x])
print(volati)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
[50, 100, 30, 80, 0]

In [162]:
#181~190 
apart = [['101호,102호'],['201호,202호'],['301호,302호']]
print(apart)
#182 
stock = [['시가',100,200,300],['종가',80,210,330]]
print(stock)
#183
stock = {'시가':[100,200,300],'종가':[80,210,330]}
print(stock)
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
n = 0
for x in (apart):
    for y  in x:
        print(y,'호')

for x in (apart[::-1]):
    for y  in x[::-1]:
        print(y,'호')

[['101호,102호'], ['201호,202호'], ['301호,302호']]
[['시가', 100, 200, 300], ['종가', 80, 210, 330]]
{'시가': [100, 200, 300], '종가': [80, 210, 330]}
101 호
102 호
201 호
202 호
301 호
302 호
302 호
301 호
202 호
201 호
102 호
101 호

In [172]:
for x in apart:
    for y in x:
        print(y,'호')
print('--------')

왕눈이가 사는 101 호
왕눈이가 사는 102 호
왕눈이가 사는 201 호
왕눈이가 사는 202 호
왕눈이가 사는 301 호
왕눈이가 사는 302 호
--------

In [186]:
#191번 
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [207]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volati = []
for x in (ohlc[1:]):
    volati.append(x[1]-x[2])
    
print(volati)
# 199 
for x in (ohlc[1:]):
    if x[3]>x[0]:
        print(x[1]-x[2]) 

#200
tot = 0
pf = 0 
for x in (ohlc[1:]):
    tot = x[0]-x[3]
    pf+=tot
    
print(pf)

[40, 30, 10]
10
0

In [208]:
#201 함수 
def print_coin():
    print('비트코인')
#204 함수
def print_coins():
    for i in range(0,99):
        print("비트코인")

비트코인